

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.js .checkJS{
	display:none;
}and .no-js .checkJS{
	
}

button{
	color: green;
}

img{
	height:3%;
	width:3%;
}












